<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mybatis.mapper.UserXmlMapper">
    <select id="findAll" resultType="com.demo.mybatis.entity.User">
        select id,name,age,email from user
    </select>

    <select id="selectAllToMap" resultType="java.util.Map">
        select id,name,age,email from user
    </select>

    <insert id="insertStudentCacheId" useGeneratedKeys="true"
            keyProperty="id" parameterType="com.demo.mybatis.entity.User">
        insert into user(name,age,email) values(#{name},#{age},#{email})
        <!-- 指定结果类型resultType，keyProperty是属性，自动返回到属性id中，order是次序，after是指获取id是在于插入后 -->
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertStudentByList" useGeneratedKeys="true" keyProperty="id" parameterType="arraylist">
        insert into user(name,age,email) values
        <foreach collection="list" item="user" separator=",">
            (#{user.name},#{user.age},#{user.email})
        </foreach>
    </insert>

</mapper>